Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove  duplicates from the given list. 


Ans :- List1 = [1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4] 
       set(List1)

In [16]:
List1 = [1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4] 
a = set(List1)
b = set([i**3 for i in List1])

In [18]:
a.union(b)

{1, 2, 3, 4, 8, 27, 64}

In [21]:
a.update((5,6,7,8))

In [22]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of  the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning'] 
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [30]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'} 
list1 = ['Python', 'Machine Learning', 'Deep Learning']

In [33]:
dict1.setdefault('Tpoics', list1)

['Python', 'Machine Learning', 'Deep Learning']

In [34]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Tpoics': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display  these three view objects for the given dictionary. 
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [36]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [37]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [38]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [39]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])